
body {
margin-top: 10px;
}

/*.jumbotron {
	background-color: #20315A !important;
	padding-bottom: 50px;*/
/*}
.fa-newspaper-o {
	font-size: 20em;
	margin-left: 40px;
	color: white;
}
.info-icons {
	color: white;
}*/
/*.text-center {
	padding-top: 10px;
	margin-top: 25px;*/
}

